body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(components/clouds-summer-storm-clouds-form-65295.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  